@import url('https://fonts.cdnfonts.com/css/inter');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen w-screen overflow-hidden bg-background-gradient bg-[#07070d];
  }

  .stars-mask {
    mask: url('/stars.svg');
  }
}

.circle-one {
  width: 144px;
  height: 144px;
  background: linear-gradient(rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0) 64.93%);
  border-radius: 999px;
  box-sizing: border-box;
  position: absolute;
}

.circle-one::before {
  content: '';
  position: absolute;
  inset: 0px;
  border-radius: 999px;
  padding: 1px;
  background: linear-gradient(rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 50%),
    linear-gradient(rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0) 64.93%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}

.circle-two {
  border-radius: 999px;
  width: 112px;
  height: 112px;
  background: linear-gradient(rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0) 29.46%);
  position: absolute;
  top: 16px;
  left: 16px;
}

.circle-two::before {
  content: '';
  position: absolute;
  inset: 0px;
  border-radius: 999px;
  padding: 1px;
  background: linear-gradient(rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 50%),
    linear-gradient(rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0) 64.93%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}

.circle-three {
  border-radius: 999px;
  width: 80px;
  height: 80px;
  background: linear-gradient(rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0) 29.46%);
  position: absolute;
  top: 32px;
  left: 32px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.circle-three::before {
  content: '';
  position: absolute;
  inset: 0px;
  border-radius: 999px;
  padding: 1px;
  background: linear-gradient(rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 50%),
    linear-gradient(rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0) 64.93%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
